{% extends "layout.html" %}
{% load static %}

{% block title %}
	Two-Factor Authentication
{% endblock %}

{% block undertitle %}
	<h2><strong class="gradient-text">Two-Factor Authentication</strong></h2>
{% endblock %}

{% block content %}
	<h3>Inform your 2FA code</h3>
	<form method="post" action="{% url 'login:verify2fa' %}" >
		{% csrf_token %}
		<label for="code">Type the verification code sent to your e-mail address: </label>
		<input type="text" name="code" id="code" required>
		<button class="small-button" type="submit">Verify</button>
		{% if error %}
			<p style="color: #4d267d;">{{ error }}</p>
		{% endif %}
	</form>
{% endblock %}
