{% extends "layout.html" %}
{% load static %}
{% load i18n %}


{% block title %}
	{% trans "Manual Login" %}
{% endblock %}

{% block content %}
	<h2><strong class="gradient-text">Login</strong></h2>
	<h3>{% trans "Enter with your username and password:" %}</h3>
	<div class="manual-login">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		{% if error %}
			<p style="color: #4d267d;">{{ error }}</p>
		{% endif %}
		<button class="small-button" type="submit">Login</button>
	</form>
	</div>
{% endblock %}
