{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans "Set Password" %}
{% endblock %}

{% block content %}
	<div class="set-password">
		<h2><strong class="gradient-text">{% trans "Password" %}</strong></h2>
		<h3>{% trans "Define your password:" %}</h3>
		<form method="post">
			<i class="fa fa-eye"></i>
			{% csrf_token %}
			{{ form.as_p }}
			<button class="small-button" type="submit">{% trans "Save new password" %}</button>
		</form>
	</div>

	<script>
		// Assuming you're using a translation library called 'i18n'
		const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
		const translatedCsrfToken = i18n.t(csrfToken);

		// Replace the original CSRF token with the translated one
		document.querySelector('input[name="csrfmiddlewaretoken"]').value = translatedCsrfToken;
	</script>
{% endblock %}