header {
	font-family: "Play", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-size: 20px;
	font-style: normal;
	text-align: center;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: sticky;
	width: 100%;
	top: 0;
	background-color: #040c30;
}

body {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: rgb(133, 140, 238);
	font-size: 22px;
	/* background-image: linear-gradient(145deg, #03021d 0%, #050e3b 55%, #4d267d 100%); */
	background-color: #040c30;
	/* background-image: url(../imgs/background-banana.png); */
	background-size: cover;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	margin: 0;
}

.gradient-text {
	background: linear-gradient(to right, #4d267d, #858cee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

nav {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
	color: #858cee;
	background-color: #040c30;
	display: flex;
	padding: 1rem;
	position: sticky;
	justify-content: space-between;
	gap: 50px;
	align-content: center;
	align-items: center;
	font-size: 20px;
	width: 100%;
	margin: 0 auto;
	border-right: rgb(133, 140, 238);
	box-sizing: border-box;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar {
	float: left;
	border-right: 1px solid rgb(133, 140, 238);
	margin-right: 0;
}

.navbar a, .nav-logout a {
	display: block;
	color: rgb(133, 140, 238);
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

.navbar:last-child {
	border-right: none;
}

nav a {
	text-decoration: none;
	color: rgb(133, 140, 238);
}

.nav-button {
	margin-right: auto;
}

.nav-icon {
	height: 30px;
	width: auto;
	vertical-align: middle;
	background: none;
	/* background-color: #040c30; */
	border: none;
	color: #858cee;
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.nav-logout {
	float: right;
	align-items: center;
}

.nav-logout ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.nav-logout li {
	border-right: 1px solid rgb(133, 140, 238);
}

.nav-logout li:last-child {
	border-right: none;
	padding-right: 0;
}

.nav-logout a {
	display: block;
	color: rgb(133, 140, 238);
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

.button-logout {
	height: 30px;
	width: auto;
	vertical-align: middle;
	background: none;
	border: none;
	color: #858cee;
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 5px;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	height: 100%;
}

/* TODO: classe feia */
.play-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	gap: 50px;
}

.play-column {
	background-color: #252e59;
	border: 1px solid #858cee;
	border-radius: 10px;
	text-align: center;
	align-items: center;
	min-width: 100px;
	min-height: 50px;
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.play-column a{
	color: #858cee;
	text-decoration: none;
	text-align: center;
}

.play-column h3 {
	flex: 1;
	text-align: center;
	color: #a8b4f0;
	margin-bottom: 5px;
}

.btn-play {
    text-align: center;
	color: #858cee;
	margin: 25px;
}

.btn-play:hover {
	color: #9754e9;
	transition-duration: 0.4s;
}

#qtd-turnos {
	white-space: nowrap;
}

.local-play {
	display: flex;
	flex-direction: column;
	gap: 10%;
}

.players{
	display: flex;
	flex-direction: row;
	gap: 10%;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.players h2 {
	font-weight: bold;
	margin-bottom: 10px;
}

.players h3 {
	color: #a8b4f0;
	font-weight: bold;
	margin-bottom: 10px;
}

.submit-button {
	margin-top: 30%;
	display: inline-flex;
	align-items: center ;
	font-family: "Dosis", sans-serif;
	background-color: #4285F4;
	border: none;
	border-radius: 12px;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 10%;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
.player {
	display: flex;
	flex-direction: column;

}

.modal-content {
	z-index: 9999;
}

.modal-content ul {
	list-style-type: none;
}

.modal-content li {
	text-align: left;
}

.modal-content a {
	text-decoration: none;
	color: #9754e9;
}

.modal-content a:hover {
	color: #c3c6f1;
	transition-duration: 0.4s;
}

.rounds {
	margin-bottom: 20px;
}

/* FIM */

h1 {
	font-family: "Play", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: rgb(133, 140, 238);
	text-align: center;
}

h2 {
	font-family: "Play", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: rgb(133, 140, 238);
	text-align: center;
}

canvas {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: white;
}

.login-button {
	position: relative;
	font-family: "Dosis", sans-serif;
	background-color: #4285F4;
	color: white;
	border: none;
	border-radius: 12px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-icon {
	height: 20px;
	width: auto;
	vertical-align: middle;
}

.small-button {
	font-family: "Dosis", sans-serif;
	background-color: #4285F4;
	border: none;
	border-radius: 36px;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 8px 12px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
}

.rpg-profile-container {
	align-self: center;
	margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
}

.profile-image-section {
	margin-right: 50px;
	display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.profile-header {
	margin-left: 100px;
} 

.stats-table {
    /* width: 100%; */
    border-collapse: collapse;
	min-width: 400px;
	min-height: 100px;
	margin: 25px 0;
	border-radius: 5px 5px;
	overflow: hidden;
}

.stats-table thead tr {
	background-color: #252e59;
	color: #a8b4f0;
	font-weight: bold;
}

.stats-table th, .stats-table td {
    border: 2px solid #a8b4f0;
    padding: 8px;
}

.online-status {
    font-weight: bold;
	float: right;
	margin-right: 40px;
}

.online {
    color: #266326;
}

.offline {
    color: #bd2f2f;
}

.btn-action {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-action:hover {
    background-color: #0056b3;
}

.friends-section {
	background-color: #252e59;
	border: 2px solid rgba(133, 140, 238, 0.8);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	color: rgb(133, 140, 238);
	size: 0cap;
	max-width: 300px;
	min-width: 300px;
	min-height: 300px;
	max-height: 500px;
	margin-left: 100px;
	align-items: center;
}

.friends-section li {
	list-style-type: none;
	text-align: left;
}

.friends-section a {
	text-decoration: none;
	color: #a8b4f0;
}

.friends-section a:hover {
	color: #9754e9;
	transition-duration: 0.4s;
}

.friends-section strong {
	color: #a8b4f0
}

.set-password li {
	list-style-type: none;
	align-items: left;
	margin-right: 25px;
}

.rank {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
	text-align: right;

}

.rank-item {
	margin: 0 10px;
}

.rank-item-name{
	text-align: left;
}

.rank a {
	text-decoration: none;
	color: rgb(133, 140, 238);
}

.rank a:hover {
	text-decoration: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.container b {
	color: #4d267d;
}

.row {
	width: 100%;
	display: flex;
}

.column {
	flex: 50%;
	padding: 10px;
	text-align: center;
	justify-content: center;
}

.avatar {
	width: 100px;
	border-radius: 50%;
	filter: grayscale(100%);
}

.story {
	text-align: justify;
	justify-content: center;
}

.story b {
	color: #4d267d;
}

.link-about {
	color:#858cee;
	text-decoration: none;
}

.link-about:hover {
	color: #4d267d;
	transition-duration: 0.4s;
}

.icon-about ul {
	background-color: aqua;
	gap: 2rem;
}

.li-about {
	display: inline;
	padding: 10px 10px;
	gap: 20px;
}

input {
	width: auto;
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	color: #040c30;
	background-color: #a8b4f0;
	border: 2px solid #858cee;
	border-radius: 8px;
	padding: 5px 5px;
}

input:focus {
	background-color: #c3c6f1;
}

.manual-login li {
	list-style-type: none;
	color: #9754e9
}

#nickname-popup {
	display: none;
	position: fixed; /* Torna o elemento fixo na tela */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centraliza o popup */
	background-color: #c3c6f1;
	border: 1px solid #c3c6f1;
	border-radius: 10px;
	padding: 20px;
	z-index: 9999;
	color: #040c30
}

#profile-picture-popup {
	display: none;
	position: fixed; /* Torna o elemento fixo na tela */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centraliza o popup */
	background-color: #c3c6f1;
	border: 1px solid #c3c6f1;
	border-radius: 10px;
	padding: 20px;
	z-index: 9999;
	color: #040c30
}

#profile-picture-popup li {
	display: flex;
	flex-direction: column;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;

}

.ranking-table {
	border-collapse: collapse;
	min-width: 400px;
	min-height: 100px;
	margin: 25px 0;
	border-radius: 5px 5px;
	overflow: hidden;
}

.ranking-table thead tr {
	background-color: #252e59;
	color: #a8b4f0;
	font-weight: bold;
}

.ranking-table th, .ranking-table td {
	border: 2px solid #a8b4f0;
	padding: 8px;
}

.ranking-table a {
	text-decoration: none;
	color: #9754e9;
	font-weight: bold;
}

.ranking-table a:hover {
	color: #cfbbe7;
	transition-duration: 0.4s;;
}

.ranking-image {
	width: 100px;
	height: 100px;
	align-items: center;
}

.game-instructions b {
	color: #9754e9;
}

.history-table {
	border-collapse: collapse;
	min-width: 400px;
	min-height: 100px;
	margin: 25px 0;
	border-radius: 5px 5px;
	overflow: hidden;
}

.history-table thead tr {
	background-color: #252e59;
	color: #a8b4f0;
	font-weight: bold;
}

.history-table th, .history-table td {
	border: 2px solid #a8b4f0;
	padding: 8px;
}

.history-table a {
	text-decoration: none;
	color: #9754e9;
	font-weight: bold;
}

.history-table a:hover {
	color: #cfbbe7;
	transition-duration: 0.4s;;
}
