body {
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: rgb(133, 140, 238);
	background-image: linear-gradient(145deg, #03021d 0%, #050e3b 55%, #4d267d 100%);
	background-size: cover;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
}

nav {
	display: flex;
	padding: 1rem;
	color: rgb(133, 140, 238);
	background-size: cover;
	justify-content: space-between;
	gap: 50px;
	align-content: center;
	align-items: center;
	font-size: 2rem;
	width: calc(100% - 10px);
	margin: 0 auto;
	box-sizing: border-box;
}
nav a {
	text-decoration: none;
}

.nav-button {
	margin-right: auto;
}

.nav-icon {
	height: 40px;
	width: auto;
	vertical-align: middle;
}

.nav-logout {
	margin-left: auto;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	height: 100%;
}

/* TODO: classe feia */
.play {
	display: flex;
	flex-direction: column;
	padding: 3px;
	gap: 10%;
	background-color: white;
	flex-direction: row;
}

#qtd-turnos {
	white-space: nowrap;
}

.local-play {
	display: flex;
	flex-direction: row;
	gap: 10%;
}

.players{
	display: flex;
	flex-direction: row;
	gap: 10%;
	text-align: center;
}

.submit-button {
	margin-top: 30%;
	display: inline-flex;
	align-items: center ;
	font-family: "Space Grotesk", sans-serif;
	background-color: black;
	border: none;
	border-radius: 12px;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 10%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
.player {
	display: flex;
	flex-direction: column;

}

/* FIM */

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

canvas {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.login-button {
	position: relative;
	font-family: "Space Grotesk", sans-serif;
	background-color: black;
	border: none;
	border-radius: 12px;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 20px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.login-button:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s;
}

.login-button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
}

.small-button {
	font-family: "Space Grotesk", sans-serif;
	background-color: black;
	border: none;
	border-radius: 36px;
	font-size: 14px;
	color: white;
	text-align: center;
	padding: 8px 12px;
	position: relative;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	transition-duration: 0.3s;
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
}

.small-button:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120%;
	height: 120%;
	transform: translate(-50%, -50%);
	border-radius: 36px;
	opacity: 0;
	transition: all 0.6s;
}

.small-button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
}
.rpg-profile-container {
	align-self: center;
	margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
}

.profile-image-section {
	margin-right: 50px;
	display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.profile-header {
	margin-left: 100px;
} 

.stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-table th, .stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.online-status {
    font-weight: bold;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.btn-action {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-action:hover {
    background-color: #0056b3;
}

.friends-section {
	background-color: white;
	border: 2px solid rgba(133, 140, 238, 0.8);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	color: rgb(133, 140, 238);
	size: 0cap;
	max-width: 300px;
	min-width: 300px;
	min-height: 300px;
	max-height: 500px;
	margin-left: 100px;
	align-items: center;
}
li {
	align-items: center;
	margin-right: 25px;
}

.rank {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
	text-align: right;

}

.rank-item {
	margin: 0 10px;
}

.rank-item-name{
	text-align: left;
}

.rank a {
	text-decoration: none;
	color: rgb(133, 140, 238);
}

.rank a:hover {
	text-decoration: none;
}