body {
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: rgb(133, 140, 238);
	background-image: linear-gradient(145deg, #03021d 0%, #050e3b 55%, #4d267d 100%);
	background-size: cover;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
}

nav {
	display: flex;
	padding: 1rem;
	color: rgb(133, 140, 238);
	background-size: cover;
	justify-content: space-between;
	gap: 50px;
	align-content: center;
	align-items: center;
	font-size: 2rem;
	width: calc(100% - 10px);
	margin: 0 auto;
	box-sizing: border-box;
}
nav a {
	text-decoration: none;
}

.nav-button {
	margin-right: auto;
}

.nav-icon {
	height: 40px;
	width: auto;
	vertical-align: middle;
}

.nav-logout {
	margin-left: auto;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	height: 100%;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.login-button {
	position: relative;
	font-family: "Space Grotesk", sans-serif;
	background-color: black;
	border: none;
	border-radius: 12px;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 20px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.login-button:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s;
}

.login-button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
}

.small-button {
	font-family: "Space Grotesk", sans-serif;
	background-color: black;
	border: none;
	border-radius: 36px;
	font-size: 14px;
	color: white;
	text-align: center;
	padding: 8px 12px;
	position: relative;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	transition-duration: 0.3s;
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
}

.small-button:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120%;
	height: 120%;
	transform: translate(-50%, -50%);
	border-radius: 36px;
	opacity: 0;
	transition: all 0.6s;
}

.small-button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
}
