{% extends 'layout.html' %}
{% load static%}
{% load i18n%}

{% block title %}
	{% trans Tournaments %}
{% endblock %}

{% block undertitle %}
	<h2><strong class="gradient-text">{% trans Tournaments %}</strong></h2>
{% endblock %}

{% block content %}
	
{% endblock %}

{% block content2 %}
	<h2><strong class="gradient-text">{% trans "History" %}</strong></h2>
	<section>
		<article class="rank">
			<div class="rank-item">{% trans "Name" %}</div>
			<div class="rank-item">{% trans "Start" %}</div>
			<div class="rank-item">{% trans "End" %}</div>
		</article>
		{% for name in tournament %}
		<article class="rank">
			<div class="rank-item">{{ name.name }}</div>
			<div class="rank-item">{{ name.start_date }}</div>
			<div class="rank-item">{{ name.end_date }}</div>
		</article>
		<br>
		{% endfor %}
	</section>
{% endblock %}

