{% extends 'layout.html' %}
{% load static%}
{% load i18n%}

{% block title %}
	{% trans Tournaments %}
{% endblock %}

{% block undertitle %}
	<img src="{% static 'imgs/trophy.png'%}" class="ranking-image"></img><br>
	<h1><strong class="gradient-text">Tournaments History</strong></h1>
{% endblock %}

{% block content %}
{% endblock %}

{% block content2 %}
	<section>
		<div class="history">
			<table class="history-table">
				<thead>
					<tr>
						<th>{% trans "Id" %}</th>
						<th>{% trans "Owner" %}</th>
						<th>{% trans "Date" %}</th>
						<th>{% trans "Winner" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for tournament in tournaments %}
					<tr>
						<td>{{ tournament.id }}</td>
						<td>{{ tournament.owner }}</td>
						<td>{{ tournament.date }}</td>
						<td>{{ tournament.winner }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}

