{% extends "layout.html" %}
{% load static %}

{% block title %}
	Pong Game
{% endblock %}

{% block undertitle %}
	<h1><strong class="gradient-text">Pong Contest</strong></h1>
{% endblock %}

{% block content %}
	<canvas>
	</canvas>
	<h3><strong class="gradient-text">Instructions:</strong></h3>
	<p class="game-instructions">
		<b>{{ players.0 }}:</b> Control the left player using the <strong>W and S keys</strong><br>
		<b>{{ players.1 }}:</b> Control the right player using the <strong>UP and DOWN arrow keys</strong><br>
		{% if players|length > 2 %}
		<b>{{ players.2 }}:</b> Control the left player using the <strong>Q and A keys</strong><br>
		<b>{{ players.3 }}:</b> Control the right player using the <strong>I and K keys</strong><br>
		{% endif %}
	</p>
{% endblock %}

{% block scripts %}
	<script>
		const players = [
			'{{ players.0|default:"" }}',
			'{{ players.1|default:"" }}',
			{% if players|length > 2 %}
			'{{ players.2|default:"" }}',
			'{{ players.3|default:"" }}'
			{% endif %}
		];
		const turns = {{ turns }}
	</script>
	{% if players|length == 2 %}
		<script src="{% static 'js/game.js' %}"></script>
	{% elif players|length == 4 %}
		<script src="{% static 'js/game2x2.js' %}"></script>
	{% endif %}
{% endblock %}
