{% extends 'layout.html' %}

{% block title %}
	Torneios
{% endblock %}

{% block undertitle %}
	<h2><strong class="gradient-text">Matches History</strong></h2>
{% endblock %}

{% block content %}
	
{% endblock %}

{% block content2 %}
	<h2><strong class="gradient-text">{{ user_info.nickname }}'s History</strong></h2>
	<section>
		<div class="history">
			<table class="history-table">
				<thead>
					<tr>
						<th>Player 1</th>
						<th>Player 2</th>
						<th>Score Player 1</th>
						<th>Score Player 2</th>
						<th>Winner</th>
						<th>Tournament?</th>

					</tr>
				</thead>
				<tbody>
					{% for match in matches %}
					<tr>
						<td><a href="{% url 'users:profile' user.user %}">{{ match.user1 }}</a></td>
						<td><a href="{% url 'users:profile' user.user %}">{{ match.user2 }}</a></td>
						<td>{{ match.score_user1 }}</td>
						<td>{{ match.score_user2 }}</td>
						<td><a href="{% url 'users:profile' user.user %}">{{ match.winner }}</a></td>
						{% if match.is_tournament is True %}
						<td><img src="../../../static/imgs/check.png" width="20" height="20" alt="yes" title="yes"></img></td>
						{% else %}
						<td><img src="../../../static/imgs/cross.png" width="20" height="20" alt="no" title="no"></img></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
	</table>
	</div>
	</section>
{% endblock %}

