{% extends 'layout.html' %}
{% load i18n %}


{% block title %}
{% blocktrans with username=user.nickname %}
{{ username }}'s Matches History
{% endblocktrans %}
{% endblock %}

{% block undertitle %}
	<h2><strong class="gradient-text">{% trans "Matches History" %}</strong></h2>
{% endblock %}

{% block content %}
	
{% endblock %}

{% block content2 %}
	<h2><strong class="gradient-text">
		{% blocktrans with username=user.nickname %}
		{{ username }}'s History
		{% endblocktrans %}
	</strong></h2>
	<section>
		<div class="history">
			<table class="history-table">
				<thead>
					<tr>
						<th>{% trans "Date" %}</th>
						<th>{% trans "Player 1" %}</th>
						<th>{% trans "Player 2" %}</th>
						<th>{% trans "Score Player 1" %}</th>
						<th>{% trans "Score Player 2" %}</th>
						<th>{% trans "Winner" %}</th>
						<th>{% trans "Tournament" %}</th>

					</tr>
				</thead>
				<tbody>
					{% for match in matches %}
					<tr>
						<td>{{ match.date|date:"d/m/Y" }}</td>
						<td><a href="{% url 'users:profile' match.user1.username %}">{{ match.user1.nickname }}</a></td>
						<td><a href="{% url 'users:profile' match.user2.username %}">{{ match.user2.nickname }}</a></td>
						<td>{{ match.score_user1 }}</td>
						<td>{{ match.score_user2 }}</td>
						<td><a href="{% url 'users:profile' match.winner %}">{{ match.winner.nickname }}</a></td>
						{% if match.is_tournament is True %}
						<td><img src="{% static 'imgs/check.png' %}" width="30" height="30" alt="yes" title="yes"></img></td>
						{% else %}
						<td><img src="{% static 'imgs/cross.png' %}" width="20" height="20" alt="no" title="no"></img></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
	</table>
	</div>
	</section>
{% endblock %}

