{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block token_head %}
	<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}
{% trans "Tournament's Pong Game" %}
{% endblock %}

{% block undertitle %}
<h2><strong class="gradient-text">{% trans "Tournament's Pong Game" %}</strong></h2>

<form id="tournament4-form" method="POST" action="{% url 'match:tournament_final' %}">
	{% csrf_token %}
	<div id="resultContainer">
		<div class="result-content" id="resultContent">
			<span class="close-button" onclick="closeFriendModal()">×</span>
			<h2><strong class="gradient-text">{% trans "Final Match" %}</strong></h2>
			<p>{% trans "Prepare yourselves for the final match:" %}</p>
			<input type="text" id="winner1" class="winner-light" name="winner1" value="">
			<img src="{% static 'imgs/cross.png' %}" class="versus-small">
			<input type="text" id="winner2" class="winner-light" name="winner2" value="">
			<input type="hidden" id="turns" class="turns" name="turns" value="{{ turns }}">
			<button type="button" class="small-button" id="finalButton" onclick="prepareForm(event)">{% trans "Go to Final!" %}</button>
		</div>
	</div>
	<div class="tournament-first-round">
		<div>
			<h3 class="gradient-text">{% trans "First Match" %}</h3>
			<p>{{ nicknames.0 }} <img src="{% static 'imgs/cross.png' %}" class="versus-small"> {{ nicknames.1 }}</p>
			<button type="button" id="first-match-button" class="small-button" onclick="startMatch('{{ usernames.0 }}', '{{ usernames.1 }}', '{{ nicknames.0 }}', '{{ nicknames.1 }}', '{{ turns }}', '1')">
				{% trans "Start Match" %}
			</button>
			<div class="match-result">
				<input type="hidden" id="match-resultA-player" name="match-resultA-player" value="{{ usernames.0 }}">
				<input type="hidden" id="match-resultA-score" name="match-resultA-score" placeholder="Score A" value="">
				<input type="hidden" id="match-resultB-player" name="match-resultB-player" value="{{ usernames.1 }}">
				<input type="hidden" id="match-resultB-score" name="match-resultB-score" placeholder="Score B" value="">
				<input type="hidden" id="winner1" class="winner-dark" name="winner1" value="">
			</div>
		</div>
		<div>
		</div>
		<div>
			<h3 class="gradient-text">{% trans "Second Match" %}</h3>
			<p>{{ nicknames.2 }} <img src="{% static 'imgs/cross.png' %}" class="versus-small"> {{ nicknames.3 }}</p>
			<button type="button" id="second-match-button" class="small-button" onclick="startMatch('{{ usernames.2 }}', '{{ usernames.3 }}', '{{ nicknames.2 }}', '{{ nicknames.3 }}', '{{ turns }}', '2')">
				{% trans "Start Match" %}
			</button>
			<div class="match-result">
				<input type="hidden" id="match-resultC-player" name="match-resultC-player"value="{{ usernames.2 }}">
				<input type="hidden" id="match-resultC-score" name="match-resultC-score" placeholder="Score C" value="">
				<input type="hidden" id="match-resultD-player" name="match-resultD-player" value="{{ usernames.3 }}">
				<input type="hidden" id="match-resultD-score" name="match-resultD-score" placeholder="Score D" value="">
				<input type="hidden" id="winner2" class="winner-dark" name="winner2" value="">
			</div>			
		</div>
	</div>
	<div class="see-results">
	{% comment %} <button type="button" id="see-results" class="small-button">{% trans See Results%}</button> {% endcomment %}
	<button type="button" id="see-results" class="small-button">{% trans "See results" %}</button>
</div>
</form>
{% endblock %}

{% block content %}
	<canvas></canvas>
{% endblock %}

{% block content2 %}
	<style>
		#see-results {
			display: none;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			margin-bottom: 10px;
			}
			
		.see-results {
			display: flex;
			justify-content: center;
		}

		h2 {
			margin-bottom: 10px;
		}
		
		.tournament-first-round {
			display: flex;
			flex-direction: row;
			gap: 50px;
			margin-bottom: 10px;
		}
		.match-result {
			display: flex;
		}
		#resultContainer {
			display: none;
			position: fixed;
			z-index: 9999;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.versus-small {
		width: 20px;
		height: 20px;
		align-items: center;
		padding: 5px;
		vertical-align: middle;
		}

		.result-content {
			margin-bottom: 10px;
			background-color: #c3c6f1;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #858cee;
			border-radius: 10px;
			width: 30%;
			color: #040c30;
			position: relative;
		}

		.close-button {
			position: absolute;
			top: 10px;
			right: 15px;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block scripts %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
	const firstMatchButton = document.getElementById('first-match-button');
	const secondMatchButton = document.getElementById('second-match-button');
	const seeResultsButton = document.getElementById('see-results');

	const matchResultA = document.getElementById('match-resultA-score');
	const matchResultB = document.getElementById('match-resultB-score');
	const matchResultC = document.getElementById('match-resultC-score');
	const matchResultD = document.getElementById('match-resultD-score');

	seeResultsButton.style.display = 'none';

	firstMatchButton.addEventListener('click', function() {
	firstMatchButton.style.display = 'none';

	matchResultA.value = '3';
	matchResultB.value = '2';
	checkMatchResults();
	});

	secondMatchButton.addEventListener('click', function() {
		secondMatchButton.style.display = 'none';
		matchResultC.value = '1';
		matchResultD.value = '4';
		checkMatchResults();
	});

	function checkMatchResults() {
		if (matchResultA.value !== '' && matchResultB.value !== '' && matchResultC.value !== '' && matchResultD.value !== '') {
			seeResultsButton.style.display = 'block';
		}
	}

	seeResultsButton.addEventListener('click', function() {
		document.getElementById('resultContainer').style.display = 'block';
		document.getElementById('resultContent').style.display = 'block';
	});

	function closeFriendModal() {
		document.getElementById('resultContainer').style.display = 'none';
		document.getElementById('resultContent').style.display = 'none';
	}

	document.querySelector('.close-button').addEventListener('click', closeFriendModal);
});

	let scriptLoaded = false;

	function prepareForm(event) {
		event.preventDefault();
		document.getElementById('tournament4-form').submit();
	}
	
	function startMatch(username1, username2, nickname1, nickname2, turns, matchNumber) {
	if (scriptLoaded) {
		Game.initialize(username1, username2, nickname1, nickname2, turns, matchNumber, function(winner, score1, score2) {
			updateMatchResults(matchNumber, score1, score2);
		});
		return;
	}
	scriptLoaded = true;
	const script = document.createElement('script');
	script.src = "{% static 'js/tournament_games.js' %}";
	script.onload = () => {
		Game.initialize(username1, username2, nickname1, nickname2, turns, matchNumber, function(winner, score1, score2) {
			updateMatchResults(matchNumber, score1, score2);
		});
	};
	script.onerror = () => {
		scriptLoaded = false;
	};
	document.body.appendChild(script);
}

function updateMatchResults(matchNumber, score1, score2) {
	if (matchNumber === '1') {
		document.getElementById('match-resultA-score').value = score1;
		document.getElementById('match-resultB-score').value = score2;
	} else if (matchNumber === '2') {
		document.getElementById('match-resultC-score').value = score1;
		document.getElementById('match-resultD-score').value = score2;
	}
	checkMatchResults();
}
</script>
{% endblock %}
