{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block token_head %}
	<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}
{% trans "Tournament's Pong Game" %}
{% endblock %}

{% block undertitle %}
<h1><strong class="gradient-text">{% trans "Tournament's Pong Game" %}</strong></h1>

<form id="tournament4-form" method="POST" action="{% url 'match:tournament_final' %}">
	{% csrf_token %}
	<div id="resultContainer">
		<button type="button" id="finalButton" onclick="prepareForm(event)">Final</button>
	</div>
	<div class="tournament-first-round">
		<div>
			<h2>First Match</h2>
			<p>{{ nicknames.0 }} VS {{ nicknames.1 }}</p>
			<button type="button" onclick="startMatch('{{ usernames.0 }}', '{{ usernames.1 }}', '{{ nicknames.0 }}', '{{ nicknames.1 }}', '{{ turns }}', '1')">
				Start Match
			</button>
			<div class="match-result">
				<input type="hidden" id="match-resultA-player" name="match-resultA-player" value="{{ nicknames.0 }}">
				<input type="hidden" id="match-resultA-score" name="match-resultA-score" placeholder="Score A" value="">
				<input type="hidden" id="match-resultB-player" name="match-resultB-player" value="{{ nicknames.1 }}">
				<input type="hidden" id="match-resultB-score" name="match-resultB-score" placeholder="Score B" value="">
				<input type="hidden" id="winner1" name="winner1" value="">
			</div>
		</div>
		<div>
		</div>
		<div>
		</div>
		<div>
			<h2>Second Match</h2>
			<p>{{ nicknames.2 }} VS {{ nicknames.3 }}</p>
			<button type="button" onclick="startMatch('{{ usernames.2 }}', '{{ usernames.3 }}', '{{ nicknames.2 }}', '{{ nicknames.3 }}', '{{ turns }}', '2')">
				Start Match
			</button>
			<div class="match-result">
				<input type="hidden" id="match-resultC-player" name="match-resultC-player"value="{{ nicknames.2 }}">
				<input type="hidden" id="match-resultC-score" name="match-resultC-score" placeholder="Score C" value="">
				<input type="hidden" id="match-resultD-player" name="match-resultD-player" value="{{ nicknames.3 }}">
				<input type="hidden" id="match-resultD-score" name="match-resultD-score" placeholder="Score D" value="">
				<input type="hidden" is="winner2" id="winner2" value="">
			</div>			
		</div>
	</div>
</form>
{% endblock %}

{% block content %}
	<canvas></canvas>
{% endblock %}

{% block content2 %}
	<style>
		.tournament-first-round {
			display: flex;
			flex-direction: row;
			gap: 50px;
		}
		.match-result {
			display: flex;
		}
		#resultContainer {
			position: absolute;
		}
	</style>
{% endblock %}

{% block scripts %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		document.getElementById('resultContainer').style.display = 'none'
	})

	let scriptLoaded = false;

	function prepareForm(event) {
		event.preventDefault();
		document.getElementById('tournament4-form').submit();
	}
	
	function startMatch(username1, username2, nickname1, nickname2, turns, matchNumber) {
		checkWinners();
		if (scriptLoaded) {
			Game.initialize(username1, username2, nickname1, nickname2, turns, matchNumber);
			return;
		}
		scriptLoaded = true;
		const script = document.createElement('script');
		script.src = "{% static 'js/tournament_games.js' %}";
		script.onload = () => {
			Game.initialize(username1, username2, nickname1, nickname2, turns, matchNumber);
		};
		script.onerror = () => {
			scriptLoaded = false;
		};
		document.body.appendChild(script);
	}

	function checkWinners() {
		const winner1 = document.getElementById('winner1').value;
		const winner2 = document.getElementById('winner2').value;
	
		if (winner1 || winner2) {
			document.getElementById('resultContainer').style.display = 'block';
		}
	}
</script>
{% endblock %}
