/* Estilo Global */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #222222; /* Fundo cinza claro */
	color: white;
}

/* Header */
header {
	background-color: #333333; /* Tom mais escuro de cinza para o header */
	padding: 20px;
	text-align: center;
}

header h1 {
	margin: 0;
	font-size: 24px;
	color: white; /* Letras brancas no header */
}

/* Navbar */
nav {
	background-color: #444444; /* Tom mais escuro de cinza para a navbar */
	padding: 10px;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0 15px;
}

nav ul li a {
	text-decoration: none;
	color: white; /* Letras brancas na navbar */
	font-weight: bold;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Main Content */
main {
	padding: 150px;
}

#helo {
	text-align: center;
	padding: 50px 20px;
	background-color: #999999; /* Tom de cinza mais claro para a seção helo */
	border-radius: 50px;
}

/* Ajusta o padding para telas menores que 768px (tablets e smartphones) */
@media (max-width: 768px) {
    #hero {
        padding: 30px 15px;
    }
}

/* Ajusta o padding para telas muito pequenas (smartphones) */
@media (max-width: 480px) {
    #hero {
        padding: 20px 10px;
    }
}

#helo h1 {
	font-size: 36px;
	color: white; /* Letras brancas na seção helo */
}

#helo p {
	font-size: 18px;
	color: white; /* Texto branco na seção helo */
}

#helo .btn {
	display: inline-block;
	margin: 15px 10px;
	padding: 10px 20px;
	background-color: #555555; /* Botão com tom mais escuro de cinza */
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

#helo .btn:hover {
	background-color: #666666; /* Mudança de cor no hover */
}

/* Footer */
footer {
	background-color: #333333; /* Tom mais escuro de cinza para o footer */
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
	color: white; /* Letras brancas no footer */
}
