{% extends 'layout.html' %}

{% block title %}
	Play
{% endblock %}

{% block undertitle %}
	<h1>Local Match Settings</h1>
{% endblock %}

{% block content %}
	<div class="local-play">
		<!-- qtd jogadores -->
		<div id="qtd-jogadores" >
			<h2>Players</h2>
				<input type="radio" name="qtd_jogadores" value="2_jogadores" checked>
				<label>2</label>
				<input type="radio" name="qtd_jogadores" value="4_jogadores">
				<label>4</label>
		</div>

		<!-- qtd-turnos -->
		<div id="qtd-turnos" >
			<h2>Rounds</h2>
				<input type="radio" name="qtd-turnos" value="1" checked>
				<label>1</label>
				<input type="radio" name="qtd-turnos" value="3">
				<label>3</label>
				<input type="radio" name="qtd-turnos" value="5">
				<label>5</label>
		</div>
	</div>
	<div>
		<button class="submit-button">Finish</button>
	</div>

	<!-- TODO: criar um script para colocar o nick dos players locais inteligente para compreender se é 2 ou 4 jogadores -->
	<div id="local-players">
		<h2>Players</h2>
		<div class="players">
			<div id="player1" class="player">
				<h3>Player 1</h3>
				<input type="text" name="player1" placeholder="Player 1 Name">
			</div>
			<div id="player2" class="player">
				<h3>Player 2</h3>
				<input type="text" name="player2" placeholder="Player 2 Name">
			</div>
		</div>
		<div class="players" >
			<div id="player3" class="player" >
				<h3>Player 3</h3>
				<input type="text" name="player3" placeholder="Player 3 Name">
			</div>
			<div id="player4" class="player">
				<h3>Player 4</h3>
				<input type="text" name="player4" placeholder="Player 4 Name">
			</div>
		</div>
	</div>
{% endblock %}

