{% extends 'layout.html' %}
{% load static%}
{% load i18n%}

{% block title %}
{% blocktrans with username=user_info.username %}
{{ username }}'s Profile
{% endblocktrans %}
{% endblock %}

{% block undertitle %}
	<h2><strong class="gradient-text">{{ user_info.first_name }} {{ user_info.last_name }}</strong></h2>
	<h2><strong>{{ user_info.nickname }}</strong></h2>
	{% if user_info == request.user %}
	<button id="change-nickname-button" class="small-button">{% trans "Change Nickname" %}</button>
	{% endif %}

	{% if user_info == request.user and request.user.is_verified == True  %}
		<!-- Popup de alteração de nickname -->
		<div id="nickname-popup" class="popup" style="display:none;">
			<div class="popup-content">
				<span class="close-button">&times;</span>
				<form id="nickname-form" method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="small-button">{% trans "Save Changes" %}</button>
				</form>
			</div>
		</div>

		<div id="add-friends-modal" class="add-friends-modal" style="display:none;">
			<div class="add-friends-modal-content">
				<span class="close-button">&times;</span> <!-- Botão de fechar no canto superior direito -->
				<h2><strong class="gradient-text">{% trans "Add Friends" %}</strong></h2>
				<ul>
					{% for user in list_users %}
						<li>
							<a href="{% url 'users:profile' user.username %}">{{ user.nickname }}</a>
							<form method="post" action="{% url 'users:add_friend_modal' user.username %}">
								{% csrf_token %}
								<button type="submit" class="small-button">{% trans "Add Friend" %}</button>
							</form>
						</li>
					{% empty %}
						<li>{% trans "No users available. You're already friends with everyone!" %}</li>
					{% endfor %}
				</ul>
				<button class="small-button close-modal-button">{% trans "Close" %}</button> <!-- Botão "Close" -->
			</div>
		</div>
		
		
		
	
		<!-- Popup de alteração de foto de perfil -->
		<div id="profile-picture-popup" class="popup" style="display:none;">
			<div class="photo-popup-content">
				<span class="close-button">&times;</span>
				<form id="profile-picture-form" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ picture_form.as_p }}
					<button type="submit" name="clear_profile_picture" class="small-button">{% trans "Delete Profile Photo" %}</button>
					<button type="submit" class="small-button">{% trans "Update Profile Photo" %}</button>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="rpg-profile-container">
		
		<!-- Seção da Imagem de Perfil -->
		<div class="profile-image-section">
			{% if user_info.profile_picture %}
				<img src="{{ user_info.profile_picture.url }}" alt="Profile Picture" class="profile-image">
			{% else %}
				<img src="{% static 'imgs/banana.png' %}" alt="Default Profile Picture" class="profile-image">
			{% endif %}
			<div class="username"><b>{{ user_info.username }}</b></div>
			{% if user_info == request.user %}
				<button id="change-picture-button" class="small-button">{% trans "Change Photo" %}</button>
			{% endif %}
		</div>

		<!-- Seção das Estatísticas do Usuário -->
		<div class="profile-header">
			<div class="profile-stats-section">
				<h2><b>{% trans "Statistics" %}</b></h2>
				<div class="stats">
					<table class="stats-table">
						<thead>
							<tr>
								<th>{% trans "Matches" %}</th>
								<th>{% trans "Wins" %}</th>
								<th>{% trans "Losses" %}</th>
								<th>{% trans "% Wins" %}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ user_info.total_matches_played }}</td>
								<td>{{ user_info.total_wins }}</td>
								<td>{{ user_info.total_loses }}</td>
								<td>{{ user_info.formatted_win_rate }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class ="history">
				<button class="small-button" onclick="window.location.href='{% url 'match:history' user_info.username %}'">{% trans "Matches History" %}</button>
			</div>
		</div>

{% if annonymous == False and request.user.is_verified %}
<div class="friends-section">
	<h2><strong>{% trans "Friends" %}</strong></h2>
	<ul>
		{% for friend in friends %}
			<li>
				<a href="{% url 'users:profile' friend.user2.username %}">{{ friend.user2.nickname }}</a>
				{% if friend.user2.is_online %}
					<span class="online-status online">● Online</span>
				{% else %}
					<span class="online-status offline">● Offline</span>
				{% endif %}
			</li>
		{% empty %}
			<li>{% trans "You still don't have any friends." %}</li>
		{% endfor %}
	</ul>

	{% if user_info == request.user %}
		<button class="small-button" id="open-add-friends-modal">{% trans "Add Friends" %}</button>
	{% endif %}

	<!-- Seção de Ação de Adicionar Amigo -->
	{% if user_info != request.user and not is_friend and annonymous == False and request.user.is_verified %}
	<form method="post" action="{% url 'users:send_friend_request' user_info.username %}">
		{% csrf_token %}
		<button type="submit" class="small-button">{% trans "Add Friend" %}</button>
	</form>
{% endif %}

</div>
{% endif %}
{% endblock %}

{% block scripts %}
	<!-- Script para popups --> 
	<script>
		const changeNicknameButton = document.getElementById('change-nickname-button');
		const nicknamePopup = document.getElementById('nickname-popup');
		const closeButton = document.querySelector('.close-button');

		changeNicknameButton.addEventListener('click', () => {
		nicknamePopup.style.display = 'block';
		});

		closeButton.addEventListener('click', () => {
		nicknamePopup.style.display = 'none';
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const changePictureButton = document.getElementById('change-picture-button');
			const profilePicturePopup = document.getElementById('profile-picture-popup');
			const closeProfilePicturePopup = profilePicturePopup.querySelector('.close-button');

			changePictureButton.addEventListener('click', function() {
				profilePicturePopup.style.display = 'block';
			});

			closeProfilePicturePopup.addEventListener('click', function() {
				profilePicturePopup.style.display = 'none';
			});

			window.addEventListener('click', function(event) {
				if (event.target === profilePicturePopup) {
					profilePicturePopup.style.display = 'none';
				}
			});
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const changePictureButton = document.getElementById('change-picture-button');
			const profilePicturePopup = document.getElementById('profile-picture-popup');
			const closeProfilePicturePopup = profilePicturePopup.querySelector('.close-button');
	
			// Abrir e fechar o popup de foto de perfil
			changePictureButton.addEventListener('click', function() {
				profilePicturePopup.style.display = 'block';
			});
	
			closeProfilePicturePopup.addEventListener('click', function() {
				profilePicturePopup.style.display = 'none';
			});
	
			window.addEventListener('click', function(event) {
				if (event.target === profilePicturePopup) {
					profilePicturePopup.style.display = 'none';
				}
			});
	
			// Abrir e fechar o modal de adicionar amigos
			const openModalButton = document.getElementById("open-add-friends-modal");
			const addFriendsModal = document.getElementById("add-friends-modal");
			const closeAddFriendsModalButton = addFriendsModal.querySelector(".close-button"); // Fechar via X
			const closeModalButton = document.querySelector(".close-modal-button"); // Fechar via botão "Close"
	
			if (openModalButton) {
				openModalButton.addEventListener("click", function() {
					addFriendsModal.style.display = "block";
				});
			}
	
			// Fechar o modal ao clicar no botão X
			if (closeAddFriendsModalButton) {
				closeAddFriendsModalButton.addEventListener("click", function() {
					addFriendsModal.style.display = "none";
				});
			}
	
			// Fechar o modal ao clicar no botão "Close"
			if (closeModalButton) {
				closeModalButton.addEventListener("click", function() {
					addFriendsModal.style.display = "none";
				});
			}
	
			// Fechar o modal ao clicar fora dele
			window.addEventListener("click", function(event) {
				if (event.target === addFriendsModal) {
					addFriendsModal.style.display = "none";
				}
			});
		});
	</script>
{% endblock %}
