{% extends 'layout.html' %}

{% block title %}
	Play
{% endblock %}

{% block undertitle %}
	<h2><span class="gradient-text"><b>Play</b></span></h2>
{% endblock %}

{% block content %}
	<div class="play">
		<div id="play-casual">
			<h2>Casual</h2>
			<div class="play">
				<a href="{% url 'users:local_play' user.username %}" class="btn-play">Local</a>
				<a href="" class="btn-play">Random</a>
			</div>
		</div>
		<div id="play-torneio">
			<h2>Tournament</h2>
			<div class="play">
				<a href="" class="btn-play">Create</a>
				<a href="" class="btn-play">Enter with code</a>
			</div>
		</div>
	</div>
{% endblock %}

