{% extends "layout.html" %}
{% load i18n %}


{% block title %}
	Top Bananas
{% endblock %}

{% block undertitle %}
	<img src="../../../static/imgs/laurel-new.png" class="ranking-image"></img><br>
	<h1><strong class="gradient-text">Top Bananas </strong></h1>
{% endblock %}

{% block content %}
	<section>
		<div class="ranking">
			<table class="ranking-table">
				<thead>
					<tr>
						<th>{% trans "User" %}</th>
						<th>{% trans "Matches" %}</th>
						<th>{% trans "Wins" %}</th>
						<th>{% trans "Losses" %}</th>
						<th>{% trans "Win Rate" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for user in ranking %}
					<tr>
						<td><a href="{% url 'users:profile' user.user %}">{{ user.user.nickname }}</a></td>
						<td>{{ user.matches }}</td>
						<td>{{ user.wins }}</td>
						<td>{{ user.loses }}</td>
						<td>{{ user.formatted_win_rate }}</td>
					</tr>
					{% endfor %}
				</tbody>
	</table>
	</div>
	</section>
{% endblock %}