{% extends "layout.html" %}

{% block title %}
	Top Bananas
{% endblock %}

{% block undertitle %}
	<h1>Top Bananas</h1>
{% endblock %}

{% block content %}
	<section>
		{% for user in ranking %}
		<article class="rank">
			<div class="rank-item">
				<a href="{% url 'users:profile' user.user %}">{{ user.user }}</a>
			</div>
			<div class="rank-item">{{ user.matches }}</div>
			<div class="rank-item">{{ user.wins }}</div>
			<div class="rank-item">{{ user.loses }}</div>
			<div class="rank-item">{{ user.formatted_win_rate }}</div>
		</article>
		{% endfor %}
	</section>
{% endblock %}