{% extends "layout.html" %}

{% block title %}
	Bananateam - 42
{% endblock %}

{% block undertitle %}
	<h1><span class="gradient-text"><b>BANANATEAM</b></span></h1>
{% endblock %}

{% block content %}
	<div class="story">
		<p>
			<b>First things first...</b><br>
			Why banana?<br>
			Well, during our coding sessions, Rodrigo told us about a game in which the only goal is to click on images of bananas as much as one can.<br>
			We couldn't believe so many people would waste their time on a game like that, but at the same time, we became obsessed with the ideia. After that, we started naming everything banana
			or some variation.<br><br>
			<b>Now, the team:</b>
		</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="column">
				<a href="https://profile.intra.42.fr/users/csantos-" target="_blank">
					<img src="../static/imgs/csantos-.png" alt="csantos-" class="avatar">
				</a>
			</div>
			<div class="column">
				<p>
					<b>csantos- | Clarissa Santos Crisóstomo</b><br>
					A really nice text about Clarissa with lots of blablabla.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<a href="https://profile.intra.42.fr/users/fmoreira" target="_blank">
					<img src="../static/imgs/fmoreira.png" alt="fmoreira" class="avatar">
				</a>
			</div>
			<div class="column">
				<p>
					<b>fmoreira | Felipe Moreira Yorgos</b><br>
					A really nice text about Felipe with lots of blablabla.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<a href="https://profile.intra.42.fr/users/rferrero" target="_blank">
					<img src="../static/imgs/rferrero.jpeg" alt="rferrero" class="avatar">
				</a>
			</div>
			<div class="column">
				<p>
					<b>rferrero | Rodrigo Ferrero Navarro</b><br>
					A really nice text about Rodrigo with lots of blablabla.
				</p>
			</div>
		</div>
	</div>
{% endblock %}