{% extends "layout.html" %}
{% load static %}

<!-- {% block undertitle %}
	
{% endblock %} -->

{% block content %}
	<h2><b>Welcome to Transcendencenana!</b></h2>
	<br>
	<p>Transcendencenana is a platform where you can play Pong with your friends!<br>
		Please log in so you can start:<br><br>
	</p>
	<button class="login-button" onclick="window.location.href='/login/'">
		<img src="../static/imgs/Logo42saopaulo_branco_fundo_transparente_mais_que_minusculo.png" class="button-icon"> Sign in with 42</button>
	<button class="login-button" onclick="window.location.href='/login/manual_login/'">
		<img src="../static/imgs/person.png" class="button-icon"> Login with Username and Password</button>
{% endblock %}
