<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}
			Transcendencenana
		{% endblock %}
	</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<header>
		<h1><b>Transcendencenana</b></h1>
	</header>
	<nav>
		<div class="nav-buttons">
			<ul>
		{% if user.is_authenticated %}
			{% url 'users:wanna_play' user.username as wanna_play_url %}
			{% url 'users:profile' user.username as profile_url %}
			{% if request.path == wanna_play_url %}
				<li><a href="{{ profile_url }}">
					<img src="{% static 'imgs/house.png' %}" class="nav-icon"> Home
				</a></li>
			{% else %}
				<li><a href="{{ wanna_play_url }}">
					<img src="{% static 'imgs/house.png' %}" class="nav-icon"> Home
				</a></li>
			{% endif %}
		{% else %}
			<li><a href="/">
				<img src="{% static 'imgs/house.png' %}" class="nav-icon"> Home
			</a></li>
		{% endif %}
			<li><a href="/about">
				<img src="{% static 'imgs/banana1.png' %}" class="nav-icon"> About
			</a></li>
			<li><a href="/ranking">
				<img src="{% static 'imgs/champion.png' %}" class="nav-icon"> Ranking
			</a></li>
		</ul>
		</div>
		<div class="nav-logout">
			<a href="{% url 'login:logout_user' %}">
			<form action="{% url 'login:logout_user' %}" method="post">
				{% csrf_token %}
				<img src="{% static 'imgs/logout.png' %}" class="nav-icon"> Logout</i>
			</form>
			</a>
		</div>
	</nav>
	<undertitle>
		{% block undertitle %}
		{% endblock %}
	</undertitle>
	<main>		
		{% block content %}
		{% endblock %}
	</main>
	{% block scripts %}
	{% endblock %}
</body>
</html>