<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}
			Transcendencenana
		{% endblock %}
	</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<header>
		<h1><span class="gradient-text"><b>TRANSCENDENCENANA</b></span></h1>
	<nav>
		<div class="nav-buttons">
			<ul>
			<li class="navbar"><a href="/">
				<img src="{% static 'imgs/house.png' %}" class="nav-icon"> Home
			</a></li>
			<li class="navbar"><a href="/about">
				<img src="{% static 'imgs/banana1.png' %}" class="nav-icon"> About
			</a></li>
		{% if user.is_verified %}
		{% url 'users:wanna_play' user.username as wanna_play_url %}
			<li class="navbar"><a href="{{ wanna_play_url }}">
				<img src="{% static 'imgs/joystick.png' %}" class="nav-icon"> Play
			</a></li>
		{% endif %}
			<li class="navbar"><a href="/ranking">
				<img src="{% static 'imgs/champion.png' %}" class="nav-icon"> Ranking
			</a></li>
			<li class="navbar"><a href="/tournaments">
				<img src="{% static 'imgs/trophy.png' %}" class="nav-icon"> Tournaments
			</a></li>
		</ul>
		</div>

			<div class="nav-logout">
			<ul class="nav-logout">
			{% if user.is_verified and user.is_authenticated == True %}
			{% url 'users:profile' user.username as profile_url %}
			<li class="nav-logout"><a href="{{ profile_url }}">
			<img src="{% static 'imgs/user.png' %}" class="nav-icon"> Profile
			</a></li>
			<li class="nav-logout"><a href="{% url 'login:logout_user' %}">
			<form action="{% url 'login:logout_user' %}" method="post">
				{% csrf_token %}
				<button type="submit" class="button-logout"><img src="{% static 'imgs/logout.png' %}" class="nav-icon"> Logout</i></button>
			</form>
			</a></li>
			</ul>
			{% endif %}
		</div>
	</nav>
	</header>

	<undertitle>
		{% block undertitle %}
		{% endblock %}
	</undertitle>
	<main>		
		{% block content %}
		{% endblock %}
		{% block content2 %}
		{% endblock %}
	</main>
	{% block scripts %}
	{% endblock %}
</body>
</html>
