<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}
			Transcendencenana
		{% endblock %}
	</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<nav>
		<div class="nav-buttons">
		{% if user.is_authenticated %}
			{% url 'users:wanna_play' user.username as wanna_play_url %}
			{% url 'users:profile' user.username as profile_url %}
			{% if request.path == wanna_play_url %}
				<a href="{{ profile_url }}">
					<img src="{% static 'imgs/home.png' %}" class="nav-icon">
				</a>|
			{% else %}
				<a href="{{ wanna_play_url }}">
					<img src="{% static 'imgs/home.png' %}" class="nav-icon">
				</a>|
			{% endif %}
		{% else %}
			<a href="/">
				<img src="{% static 'imgs/home.png' %}" class="nav-icon">
			</a>|
		{% endif %}
			<a href="/about">
				<img src="{% static 'imgs/banana.png' %}" class="nav-icon">
			</a>|
			<a href="/ranking">
				<img src="{% static 'imgs/ranking.png' %}" class="nav-icon">
			</a>
		</div>
		{% if user.is_authenticated %}
			<div class="nav-logout">
				<form action="{% url 'login:logout_user' %}" method="post">
					{% csrf_token %}
					<button class="small-button" type="submit">Logout</button>
				</form>
			</div>
		{% endif %}
	</nav>
	<undertitle>
		{% block undertitle %}
		{% endblock %}
	</undertitle>
	<main>		
		{% block content %}
		{% endblock %}
		{% block content2 %}
		{% endblock %}
	</main>
	{% block scripts %}
	{% endblock %}
</body>
</html>